@import "~bulma/sass/utilities/_all";

$blurple: #7289DA;
$greyple: #99AAB5;
$darkple: #2C2F33;
$darkple-lighter: #414347;
$darkple-light: #56585B;
$blackple: #23272A;

$primary: $blurple;
$primary-invert: findColorInvert($primary);

$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert)
);

@import "~bulma";
@import "~buefy/src/scss/buefy";

@mixin fadeTransition($props) {
  $full: "";
  $time: 0.2s;
  $ease: ease-out;

  @each $prop in $props {
    $full: "#{$full}#{$prop} #{$time} #{$ease},";
  }

  transition: #{str-slice($full, 0, -2)};
}

.dark {
  background-color: $darkple;

  & .title {
    color: $white-ter;
  }

  & .subtitle {
    color: $grey-lighter;
  }

  & hr {
    background-color: $greyple;
  }

  & p {
    color: $white-ter;
  }

  & .input,
  & .textarea,
  & .select select {
    background-color: $darkple-light;
    color: $grey-lighter;
    border-color: transparent;

    &:hover {
      border-color: transparent;
    }

    &:focus {
      border-color: $blurple;
    }

    @each $key, $val in $colors {
      $true-val: nth($val, 1);

      &.is-#{$key},
      &.is-#{$key}:hover {
        border-color: $true-val;
      }
    }

    &:disabled {
      background-color: $blackple;
      border-color: transparent !important;
    }
  }

  & .input::placeholder,
  & .textarea::placeholder {
      color: rgba($grey-lighter, 0.3);
  }

  & .select {
    &:not(.is-multiple)::after,
    &:hover::after {
      border-color: $white-ter;
    }
    & select > option {
      color: $white-ter;
    }
  }

  & .tag {
    background-color: $darkple;
    color: $grey-lighter;
  }

  & .taginput .tag {
    background-color: $darkple;
  }

  & .label {
    color: $grey-lighter;
  }

  & .button {
    background-color: $darkple-lighter;
    color: $grey-lighter;
    border-color: transparent;

    &:hover {
      border-color: $blackple;
      color: $grey-light;
      border-color: transparent;
    }

    &:active,
    &:focus {
      color: $grey;
    }

    &.is-static {
      background-color: $grey-darker;
      color: $grey-lighter;
      border-color: transparent;
    }

    &.is-text {
      color: $white-ter;

      &:hover,
      &:focus,
      &:active {
        background-color: $darkple;
        color: $white;
      }
    }

    &.is-danger {
      background-color: $danger;
    }
    &.is-warning {
      background-color: $warning;
    }
    &.is-success {
      background-color: $success;
    }
    &.is-info {
      background-color: $info;
    }
    &.is-primary {
      background-color: $primary;
    }
  }

  & .card {
    background-color: $darkple-lighter;
    color: $text-invert;

    & .card-footer,
    & .card-footer-item:not(:last-child) {
      border-color: $blackple;
    }

    & a.card-footer-item {
      color: $white !important;
      text-decoration: underline;
    }
  }

  & .modal-card {
    & .modal-card-head {
      background-color: $blackple;
      border-bottom-color: $grey-darker;
    }

    & .modal-card-body {
      background-color: $darkple;
    }

    & .modal-card-foot {
      background-color: $blackple;
      border-top-color: $grey-darker;
    }
  }

  & .box {
    background-color: $blackple;
  }

  & .navbar {
    & .navbar-dropdown {
      background-color: $darkple;
      border-color: $blackple;
    }

    & .navbar-item, & .navbar-link {
      color: $grey-lighter;

      &:hover {
        color: $white-ter;
        background-color: $darkple-light;
      }
    }
  }

  .dropdown-content {
    background-color: $darkple;

    & .dropdown-item {
      color: $grey-lighter;

      &:hover,
      &.is-hovered {
        color: $white-ter;
        background-color: $darkple-light;
      }
    }
  }

  & code {
    background-color: $darkple-light;
  }

  & .dark-link {
    color: lighten(nth(map-get($colors, "primary"), 1), 15%);
    font-weight: 600;

    &:hover {
      color: lighten(nth(map-get($colors, "primary"), 1), 30%);
    }
  }

  & .bot-description {
    color: $grey-lighter;
  }

  & .checkbox {
    &,
    &:hover,
    &:active,
    &:focus {
      color: $grey-lighter;
    }
  }

  & .pagination {
    .pagination-previous, .pagination-next, .pagination-link {
      background-color: $grey-darker;
      border: transparent;
      color: $grey-lighter;
  
      &[disabled="disabled"] {
        display: none;
      }

      &.is-current {
        background-color: $grey-dark;
      }
  
      &:hover {
        color: $grey-light;
        
        .icon .mdi::before {
          color: $grey-light;
  
        }
      }
  
      .icon {
        .mdi-chevron-left::before {
          content: '<';
        }
        .mdi-chevron-right::before {
          content: '>';
        }
      
        .mdi::before {
          color: $grey-lighter;
        }
      }
    }
  }

  & section.hero.is-primary {
    background-color: $darkple;
  }
}

@media screen and (max-width: 1087px) {
  .navbar-menu {
    background-color: $darkple;
    color: $white-ter;
  }
}
html,
hr,
.input,
.textarea,
.select select,
.tag,
.taginput .tag,
.button,
.card,
.modal-card-head,
.modal-card-body,
.modal-card-foot,
.box,
.navbar-dropdown,
.navbar-item,
.dropdown-content,
code,
.title,
.subtitle,
p,
.input::placeholder,
.textarea::placeholder,
select > option,
.label,
.card-footer-item,
.dark-link,
.bot-description,
.checkbox,
.select::after,
.card-footer {
  @include fadeTransition(background-color color border-color);
  // @include fadeTransition(color);
  // @include fadeTransition(border-color);
}
